{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier/react"  // THIS OVERRIDES SPECIFIC REACT RULES THAT CONFLICT WITH PRETTIER
  ],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "linebreak-style": ["off"],
    "max-len": [
      "off",
      {
        "code": 120
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/label-has-for": [
      1,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": [
      2,
      {
        "ignore": ["children"]
      }
    ],
    "react/sort-comp": "warn",
    // mark some rules as warning for now
    "react/jsx-props-no-spreading": "warn",
    "react/static-property-placement": "warn",
    "react/state-in-constructor": "warn",
    "jsx-a11y/control-has-associated-label": "warn",
    // add prettier rules
    "prettier/prettier": "error"
  }
}
